/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Container setup */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Logo styling */
.logo {
  max-width: 200px;
}

/* Form styling */
.input-group {
  margin-bottom: 20px;
}

.inputstyle {
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px 0 0 5px;
  flex: 1;
  font-size: 16px;
}

.whoop {
  padding: 15px;
  background-color: #ff6347;
  border: none;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whoop:hover {
  background-color: #e5533d;
}

/* Alerts */
.alert {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.alert-warning {
  background-color: #ffcc00;
  color: #fff;
}

.alert-danger {
  background-color: #f44336;
  color: #fff;
}

/* Nutritional values */
.caloriescont {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caloriescont ul {
  list-style: none;
  padding-left: 0;
}

.caloriescont li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.caloriescont li:last-child {
  border-bottom: none;
}

.caloriescont .float-end {
  float: right;
}

/* Responsiveness */
@media (max-width: 768px) {
  .input-group {
      flex-direction: column;
  }

  .inputstyle,
  .whoop {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
  }
}